{
  "openapi": "3.0.4",
  "info": {
    "title": "Merged OpenAPI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bunny.net",
      "description": "bunny.net API Server"
    },
    {
      "url": "https://cdn-origin-logging.bunny.net"
    },
    {
      "url": "https://storage.bunnycdn.com/"
    },
    {
      "url": "https://video.bunnycdn.com"
    },
    {
      "url": "https://api.bunny.net/mc"
    }
  ],
  "paths": {
    "/core/country": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get Country List",
        "operationId": "CoreCountriesPublicGetCountryList",
        "responses": {
          "200": {
            "description": "The list of countries and tax rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreCountriesPublicGetCountryList200ResponseResponseJson"
                }
              }
            }
          }
        }
      }
    },
    "/core/dnszone": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "List DNS Zones",
        "operationId": "CoreDnsZonePublicIndex",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "maximum": 2147483647.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "maximum": 1000.0,
              "minimum": 5.0,
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of DNS Zones on the account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfDnsZoneModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Add DNS Zone",
        "operationId": "CoreDnsZonePublicAdd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsZoneAddModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed adding the DNS Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/dnszone/{id}": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Get DNS Zone",
        "operationId": "CoreDnsZonePublicIndex2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS Zone that will be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Update DNS Zones",
        "operationId": "CoreDnsZonePublicUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS Zone that will be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The configuration that should be applied to the DNS zone",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsZoneModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Delete DNS Zone",
        "operationId": "CoreDnsZonePublicDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The DNS Zone ID that will be deleted.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Failed deleting the DNS Zone. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/dnszone/{id}/export": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "operationId": "CoreDnsZonePublicExport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/CoreDnsZonePublicExport200ResponseResponseOctetStream"
                }
              }
            }
          }
        }
      }
    },
    "/core/dnszone/checkavailability": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Check the DNS zone availability",
        "operationId": "CoreDnsZonePublicCheckAvailability",
        "requestBody": {
          "description": "The zone that will be checked",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed checking the zone availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/dnszone/{zoneId}/records": {
      "put": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Add DNS Record",
        "operationId": "CoreDnsZonePublicAddRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID to which the record will be added.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDnsRecordModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The DNS record was successfuly added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed adding the DNS record. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/dnszone/{zoneId}/records/{id}": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Update DNS Record",
        "operationId": "CoreDnsZonePublicUpdateRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID that contains the record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS record that will be updated.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsRecordModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed updating the DNS record. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Delete DNS Record",
        "operationId": "CoreDnsZonePublicDeleteRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID that contains the record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS record that will be deleted.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Failed deleting the DNS Record. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/dnszone/{zoneId}/import": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Import DNS Records",
        "operationId": "CoreDnsZonePublicImport",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID that should import the data.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The import operation has finished successfuly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneImportResultModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed importing data. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/dnszone/{zoneId}/certificate/issue": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Issue new wildcard certificate",
        "operationId": "CoreDnsZonePublicIssueWildcardCertificate",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID requiring a new certificate.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoreDnsZonePublicIssueWildcardCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to issue a new certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "List Pull Zones",
        "operationId": "CorePullZonePublicIndexAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return. When set to 0 (default), all items are returned as a plain array. When set to a value greater than 0, items are returned in a paginated response object.",
            "schema": {
              "maximum": 2147483647.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "maximum": 1000.0,
              "minimum": 5.0,
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "description": "Determines if the result hostnames should contain the SSL certificate",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all the pull zones on the account. When the page parameter is set to a value greater than 0, the response will be a paginated object with Items, CurrentPage, TotalItems and HasMoreItems properties instead of a plain array.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorePullZonePublicIndexAll200ResponseResponseJson"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Pull Zone",
        "operationId": "CorePullZonePublicAdd",
        "requestBody": {
          "description": "The Pull Zone that will be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneAddModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed adding Pull Zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/count": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Count Pull Zones",
        "operationId": "CorePullZonePublicCount",
        "responses": {
          "200": {
            "description": "The total number of Pull Zones on the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneCountModel"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get Pull Zone",
        "operationId": "CorePullZonePublicIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "description": "Determines if the result hostnames should contain the SSL certificate",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Pull Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Update Pull Zone",
        "operationId": "CorePullZonePublicUpdatePullZone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The Pull Zone update configuration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneSettingsModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Pull Zone was successfuly updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed configuring the Storage Zone. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Delete Pull Zone",
        "operationId": "CorePullZonePublicDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be deleted",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{pullZoneId}/edgerules/{edgeRuleId}": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Delete Edge Rule",
        "operationId": "CorePullZonePublicDeleteEdgeRule",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "The ID of the Pull Zone that contains the Edge Rule",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "description": "The ID of the Edge Rule that should be deleted",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{pullZoneId}/edgerules/addOrUpdate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add/Update Edge Rule",
        "operationId": "CorePullZonePublicAddEdgeRule",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "The ID of the Pull Zone where the Edge Rule will be created",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The Edge Rule that will be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EdgeRuleV2Model"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson2"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{pullZoneId}/edgerules/{edgeRuleId}/setEdgeRuleEnabled": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Set Edge Rule Enabled",
        "operationId": "CorePullZonePublicSetEdgeRuleEnabled",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "The ID of the Pull Zone that contains the Edge Rule",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "description": "The ID of the Edge Rule that should be updated",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "The toggle switch model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed configuring the Edge Rule. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/updatePrivateKeyType": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Change hostname private key type",
        "operationId": "CorePullZonePublicUpdatePrivateKeyType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The hostname that the private key type will be updated on",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateKeyUpdateModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to update key type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/loadFreeCertificate": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Load Free Certificate",
        "operationId": "CorePullZonePublicLoadFreeCertificate",
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "The hostname that the certificate will be loaded for",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "useOnlyHttp01",
            "in": "query",
            "description": "If false and a Bunny DNS Zone exists for the domain, DNS01 validation we be attempted. This has no effect on wildcard domains, as this can only use DNS01",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Failed configuring the certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/requestExternalDnsCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Request External DNS Certificate",
        "operationId": "CorePullZonePublicRequestExternalDnsCertificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalDnsCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The TXT record details for DNS verification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorePullZonePublicRequestExternalDnsCertificate200ResponseResponseJson"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/completeExternalDnsCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Complete External DNS Certificate",
        "operationId": "CorePullZonePublicCompleteExternalDnsCertificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalDnsCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "The verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/purgeCache": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Purge Cache",
        "operationId": "CorePullZonePublicPurgeCachePostByTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be cleared",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CorePullZonePublicPurgeCachePostByTagRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson3"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/checkavailability": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Check the pull zone availability",
        "operationId": "CorePullZonePublicCheckAvailability",
        "requestBody": {
          "description": "The zone that will be checked",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed checking the zone availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/addCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Custom Certificate",
        "operationId": "CorePullZonePublicAddCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCertificateRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed adding the certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/removeCertificate": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Certificate",
        "operationId": "CorePullZonePublicRemoveCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCertificateRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed removing certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/addHostname": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Custom Hostname",
        "operationId": "CorePullZonePublicAddHostname",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHostnameRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson4"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/removeHostname": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Custom Hostname",
        "operationId": "CorePullZonePublicRemoveHostname",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveHostnameRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/setForceSSL": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Set Force SSL",
        "operationId": "CorePullZonePublicSetForceSsl",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForceSslRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to configure Force SSL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/resetSecurityKey": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Reset Token Key",
        "operationId": "CoreResetSecurityKeyEndpointResetSecurityKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Custom security key",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPullZoneSecurityKeyModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to reset the security key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIPullZones",
              "SubuserPullZones",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIPullZones",
              "SubuserPullZones",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/pullzone/{id}/addAllowedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Allowed Referer",
        "operationId": "CorePullZonePublicAddAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to configure allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/removeAllowedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Allowed Referer",
        "operationId": "CorePullZonePublicRemoveAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to remove allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/addBlockedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Blocked Referer",
        "operationId": "CorePullZonePublicAddBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to configure blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/removeBlockedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Blocked Referer",
        "operationId": "CorePullZonePublicRemoveBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to remove blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/addBlockedIp": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Blocked IP",
        "operationId": "CorePullZonePublicAddBlockedIp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedIpRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to configure blocked IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/removeBlockedIp": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Blocked IP",
        "operationId": "CorePullZonePublicRemoveBlockedIp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedIpRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to remove blocked IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/purge": {
      "post": {
        "tags": [
          "Purge"
        ],
        "summary": "Purge URL",
        "operationId": "CorePurgePublicIndexPost",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The URL that will be purged from cache.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "async",
            "in": "query",
            "description": "(Optional) Determines if the call should wait for the purge logic to complete",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "exactPath",
            "in": "query",
            "description": "(Optional) When true and the URL ends with \u0027/\u0027, purges only the exact path without adding a wildcard suffix. Only applies when the pull zone has IgnoreQueryStrings disabled.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson5"
                }
              }
            }
          }
        }
      }
    },
    "/core/region": {
      "get": {
        "tags": [
          "Region"
        ],
        "summary": "Region list",
        "operationId": "CoreRegionPublicIndex",
        "responses": {
          "200": {
            "description": "Returns the list of region codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreRegionPublicIndex200ResponseResponseJson"
                }
              }
            }
          }
        }
      }
    },
    "/core/storagezone": {
      "get": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "List Storage Zones",
        "operationId": "CoreStorageZonePublicIndexAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return. When set to 0 (default), all items are returned as a plain array. When set to a value greater than 0, items are returned in a paginated response object.",
            "schema": {
              "maximum": 2147483647.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "maximum": 1000.0,
              "minimum": 5.0,
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of storage zones on the account. When the page parameter is set to a value greater than 0, the response will be a paginated object with Items, CurrentPage, TotalItems and HasMoreItems properties instead of a plain array.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreStorageZonePublicIndexAll200ResponseResponseJson"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Add Storage Zone",
        "operationId": "CoreStorageZonePublicAdd",
        "requestBody": {
          "description": "The storage zone that will be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneModelAdd"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The storage zone that was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed adding the Storage Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/storagezone/checkavailability": {
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Check the storage zone availability",
        "operationId": "CoreStorageZonePublicCheckAvailability",
        "requestBody": {
          "description": "The zone that will be checked",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed checking the zone availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/storagezone/{id}": {
      "get": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Get Storage Zone",
        "operationId": "CoreStorageZonePublicIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Storage Zone that should be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Storage Zone with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Update Storage Zone",
        "operationId": "CoreStorageZonePublicUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the storage zone that should be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The configuration that should be applied to the storage zone",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneSettingsModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed configuring the Storage Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Delete Storage Zone",
        "operationId": "CoreStorageZonePublicDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Storage Zone ID that should be deleted",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "deleteLinkedPullZones",
            "in": "query",
            "description": "Deletes all pull zones linked to this storage zone (default behavior)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson6"
                }
              }
            }
          }
        }
      }
    },
    "/core/storagezone/{id}/resetPassword": {
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Reset Password",
        "operationId": "CoreStorageZonePublicResetPassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the storage zone that should have the password reset",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson7"
                }
              }
            }
          }
        }
      }
    },
    "/core/storagezone/resetReadOnlyPassword": {
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Reset Read-Only Password",
        "operationId": "CoreStorageZonePublicResetReadOnlyPassword",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the storage zone that should have the read-only password reset",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson8"
                }
              }
            }
          }
        }
      }
    },
    "/core/videolibrary/{id}/addAllowedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Allowed Referer",
        "operationId": "CoreAddAllowedReferrerEndpointAddAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to add allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/addBlockedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Blocked Referer",
        "operationId": "CoreAddBlockedReferrerEndpointAddBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to add blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Video Library",
        "operationId": "CoreAddVideoLibraryEndpointAddVideoLibrary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryCreateModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The added video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "List Video Libraries",
        "operationId": "CoreListVideoLibrariesEndpointListVideoLibraries",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "maximum": 2147483647.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "maximum": 1000.0,
              "minimum": 5.0,
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Video Libraries on the account. When the page parameter is set to a value greater than 0, the response will be a paginated object with Items, CurrentPage, TotalItems and HasMoreItems properties instead of a plain array.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfVideoLibraryModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/watermark": {
      "put": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Watermark",
        "operationId": "CoreAddWatermarkEndpointAddWatermark",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson9"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Delete Watermark",
        "operationId": "CoreDeleteWatermarkEndpointDeleteWatermark",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson10"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}": {
      "delete": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Delete Video Library",
        "operationId": "CoreDeleteVideoLibraryEndpointDeleteVideoLibrary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Video Library that should be deleted",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson11"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Video Library",
        "operationId": "CoreGetVideoLibraryEndpointGetVideoLibrary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Video Library that will be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "403": {
            "description": "The Video Library is not accessible for the authenticated account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Update Video Library",
        "operationId": "CoreUpdateVideoLibraryEndpointUpdateVideoLibrary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Video Library to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryUpdateModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/languages": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Languages",
        "operationId": "CoreGetVideoLibraryLanguagesEndpointGetVideoLibraryLanguages",
        "responses": {
          "200": {
            "description": "A list of language information objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreGetVideoLibraryLanguagesEndpointGetVideoLibraryLanguages200ResponseResponseJson"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/removeAllowedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Remove Allowed Referer",
        "operationId": "CoreRemoveAllowedReferrerEndpointRemoveAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to remove allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/removeBlockedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Remove Blocked Referer",
        "operationId": "CoreRemoveBlockedReferrerEndpointRemoveBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedReferrerRequestModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Failed to remove blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/resetApiKey": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Reset API Key",
        "operationId": "CoreResetVideoLibraryApiKeyEndpointResetVideoLibraryApiKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the video library that should have the API key reset",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson12"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/resetReadOnlyApiKey": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Reset Read Only API Key",
        "operationId": "CoreResetVideoLibraryReadOnlyApiKeyEndpointResetVideoLibraryReadOnlyApiKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the video library that should have the read only API key reset",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson13"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/transcribing/statistics": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Video Library Transcribing Statistics",
        "operationId": "CoreGetTranscribingStatisticsEndpointStatistics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the video library for which the transcribing statistics will be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 14 days will be returned",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, current date will be used",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the statistics for the video library with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryTranscriptionStatisticsModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/live/thumbnail": {
      "put": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Live Thumbnail",
        "operationId": "CoreAddLiveThumbnailEndpointAddThumbnail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson14"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Delete Live Thumbnail",
        "operationId": "CoreDeleteLiveThumbnailEndpointDeleteThumbnail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson15"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/live/watermark": {
      "put": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Live Watermark",
        "operationId": "CoreAddLiveWatermarkEndpointAddWatermark",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson16"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Delete Live Watermark",
        "operationId": "CoreDeleteLiveWatermarkEndpointDeleteWatermark",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseResponseJson17"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/drm/statistics": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Video Library DRM Statistics",
        "operationId": "CoreGetDrmStatisticsEndpointStatistics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the video library for which the DRM statistics will be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 14 days will be returned",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, current date will be used",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the statistics for the video library with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryDrmStatisticsModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/user/closeaccount": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Close the account",
        "description": "Close the current user account",
        "operationId": "CoreCloseAccountEndpointCloseAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseAccountRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The account was successfully closed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseAccountResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed closing the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseAccountResponseModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi"
            ]
          }
        ]
      }
    },
    "/core/user/audit/{date}": {
      "get": {
        "tags": [
          "AuditLog"
        ],
        "operationId": "CoreGetUserAuditLogEndpointGetUserAuditLog",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Product",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "ResourceType",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "ResourceId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "ActorId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Order",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/LogOrdering"
            }
          },
          {
            "name": "ContinuationToken",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "maximum": 10000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of audit log entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserAuditLogResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "Subuser"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "Subuser"
            ]
          }
        ]
      }
    },
    "/core/storagezone/regions": {
      "get": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Get Storage Zone Regions",
        "operationId": "CoreGetStoragezoneRegionsEndpointGetStorageZoneRegions",
        "responses": {
          "200": {
            "description": "A list of available storage zone regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoreGetStoragezoneRegionsEndpointGetStorageZoneRegions200ResponseResponseJson"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStorage",
              "SubuserStorage",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStorage",
              "SubuserStorage",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/storagezone/{id}/statistics": {
      "get": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Get Storage Zone Statistics",
        "operationId": "CoreGetStoragezoneStatisticsEndpointStorageZoneStatistics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the storage zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneStatisticsModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStatistics",
              "SubuserStatistics",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStatistics",
              "SubuserStatistics",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/pullzone/{pullZoneId}/optimizer/statistics": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Get optimizer statistics",
        "operationId": "CoreGetOptimizerStatisticsEndpointGetOptimizerStatistics",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "Id of Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "(Optional) If true, the statistics data will be returned in hourly groupping.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizerStatisticsModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed fetching statistics per time range. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIPullZones",
              "SubuserPullZones",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIPullZones",
              "SubuserPullZones",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/pullzone/{pullZoneId}/originshield/queuestatistics": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Get Origin Shield Queue Statistics",
        "operationId": "CoreGetOriginShieldConcurrencyStatisticsEndpointGetOriginShieldConcurrencyStatistics",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "Id of a Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
[...]
