{
  "openapi": "3.0.4",
  "info": {
    "title": "Merged OpenAPI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bunny.net",
      "description": "bunny.net API Server"
    },
    {
      "url": "https://cdn-origin-logging.bunny.net"
    },
    {
      "url": "https://storage.bunnycdn.com/"
    },
    {
      "url": "https://video.bunnycdn.com"
    },
    {
      "url": "https://api.bunny.net/mc"
    }
  ],
  "paths": {
    "/core/country": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get Country List",
        "operationId": "core_CountriesPublic_GetCountryList",
        "responses": {
          "200": {
            "description": "The list of countries and tax rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/dnszone": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "List DNS Zones",
        "operationId": "core_DnsZonePublic_Index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "maximum": 2147483647.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "maximum": 1000.0,
              "minimum": 5.0,
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 2
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DnsViewType"
                }
              ],
              "default": 0
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "The list of DNS Zones on the account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfDnsZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Add DNS Zone",
        "operationId": "core_DnsZonePublic_Add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsZoneAddModel"
              }
            }
          },
          "required": true,
          "x-name": "dnsZoneModel",
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The DNS Zone was successfuly added"
          },
          "400": {
            "description": "Failed adding the DNS Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/dnszone/{id}": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Get DNS Zone",
        "operationId": "core_DnsZonePublic_Index2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS Zone that will be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DnsViewType"
                }
              ],
              "default": 0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Update DNS Zones",
        "operationId": "core_DnsZonePublic_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS Zone that will be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "The configuration that should be applied to the DNS zone",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsZoneModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Delete DNS Zone",
        "operationId": "core_DnsZonePublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The DNS Zone ID that will be deleted.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The DNS Zone was successfuly deleted."
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "400": {
            "description": "Failed deleting the DNS Zone. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/dnszone/{id}/export": {
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "operationId": "core_DnsZonePublic_Export",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/core/dnszone/checkavailability": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Check the DNS zone availability",
        "operationId": "core_DnsZonePublic_CheckAvailability",
        "requestBody": {
          "description": "The zone that will be checked",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "dnsZoneRequest",
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the model determinining if the zone is available or not"
          },
          "400": {
            "description": "Failed checking the zone availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/dnszone/{zoneId}/records": {
      "put": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Add DNS Record",
        "operationId": "core_DnsZonePublic_AddRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID to which the record will be added.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDnsRecordModel"
              }
            }
          },
          "required": true,
          "x-name": "recordModel",
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "The DNS record was successfuly added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordModel"
                }
              }
            }
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "400": {
            "description": "Failed adding the DNS record. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "List DNS Zone Records",
        "operationId": "core_DnsZonePublic_ListDnsZoneRecords",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The ID of the DNS Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "maximum": 2147483647.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 2
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "maximum": 1000.0,
              "minimum": 5.0,
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 3
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of DNS Record",
            "schema": {
              "oneOf": [
                {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DnsRecordTypes2"
                    }
                  ]
                }
              ]
            },
            "x-position": 4
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of DNS records for the specified zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfDnsRecordModel"
                }
              }
            }
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist"
          },
          "400": {
            "description": "Failed to fetch dns records for the dns zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/dnszone/{zoneId}/records/{id}": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Update DNS Record",
        "operationId": "core_DnsZonePublic_UpdateRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID that contains the record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS record that will be updated.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsRecordModel"
              }
            }
          },
          "required": true,
          "x-name": "recordModel",
          "x-position": 3
        },
        "responses": {
          "204": {
            "description": "The DNS record was successfuly updated."
          },
          "404": {
            "description": "The DNS Zone or DNS Record with the requested ID does not exist."
          },
          "400": {
            "description": "Failed updating the DNS record. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Delete DNS Record",
        "operationId": "core_DnsZonePublic_DeleteRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID that contains the record.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the DNS record that will be deleted.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "204": {
            "description": "The DNS record was successfuly deleted."
          },
          "404": {
            "description": "The DNS Zone or DNS Record with the requested ID does not exist."
          },
          "400": {
            "description": "Failed deleting the DNS Record. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/dnszone/{zoneId}/import": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Import DNS Records",
        "operationId": "core_DnsZonePublic_Import",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID that should import the data.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The import operation has finished successfuly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneImportResultModel"
                }
              }
            }
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "400": {
            "description": "Failed importing data. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/dnszone/{zoneId}/certificate/issue": {
      "post": {
        "tags": [
          "DNS Zone"
        ],
        "summary": "Issue new wildcard certificate",
        "operationId": "core_DnsZonePublic_IssueWildcardCertificate",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "description": "The DNS Zone ID requiring a new certificate.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IssueWildcardCertificateRequestModel"
                  }
                ]
              }
            }
          },
          "x-name": "requestModel",
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "A certificate has been issued successfully"
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "400": {
            "description": "Failed to issue a new certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "List Pull Zones",
        "operationId": "core_PullZonePublic_IndexAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return. When set to 0 (default), all items are returned as a plain array. When set to a value greater than 0, items are returned in a paginated response object.",
            "schema": {
              "maximum": 2147483647.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "maximum": 1000.0,
              "minimum": 5.0,
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 2
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "description": "Determines if the result hostnames should contain the SSL certificate",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all the pull zones on the account. When the page parameter is set to a value greater than 0, the response will be a paginated object with Items, CurrentPage, TotalItems and HasMoreItems properties instead of a plain array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PullZoneModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Pull Zone",
        "operationId": "core_PullZonePublic_Add",
        "requestBody": {
          "description": "The Pull Zone that will be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneAddModel"
              }
            }
          },
          "required": true,
          "x-name": "pullZoneModel",
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The Pull Zone was successfuly added"
          },
          "400": {
            "description": "Failed adding Pull Zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/count": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Count Pull Zones",
        "operationId": "core_PullZonePublic_Count",
        "responses": {
          "200": {
            "description": "The total number of Pull Zones on the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneCountModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Get Pull Zone",
        "operationId": "core_PullZonePublic_Index",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "description": "Determines if the result hostnames should contain the SSL certificate",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The Pull Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Update Pull Zone",
        "operationId": "core_PullZonePublic_UpdatePullZone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "The Pull Zone update configuration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneSettingsModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The Pull Zone was successfuly updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed configuring the Storage Zone. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Delete Pull Zone",
        "operationId": "core_PullZonePublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be deleted",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The Pull Zone was successfully deleted"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{pullZoneId}/edgerules/{edgeRuleId}": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Delete Edge Rule",
        "operationId": "core_PullZonePublic_DeleteEdgeRule",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "The ID of the Pull Zone that contains the Edge Rule",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "description": "The ID of the Edge Rule that should be deleted",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "204": {
            "description": "The Edge Rule was successfuly deleted"
          },
          "404": {
            "description": "The Pull Zone or Edge Rule with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{pullZoneId}/edgerules/addOrUpdate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add/Update Edge Rule",
        "operationId": "core_PullZonePublic_AddEdgeRule",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "The ID of the Pull Zone where the Edge Rule will be created",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "The Edge Rule that will be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EdgeRuleV2Model"
              }
            }
          },
          "required": true,
          "x-name": "edgeRuleModel",
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "The Edge Rule was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{pullZoneId}/edgerules/{edgeRuleId}/setEdgeRuleEnabled": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Set Edge Rule Enabled",
        "operationId": "core_PullZonePublic_SetEdgeRuleEnabled",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "description": "The ID of the Pull Zone that contains the Edge Rule",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "description": "The ID of the Edge Rule that should be updated",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "description": "The toggle switch model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 3
        },
        "responses": {
          "204": {
            "description": "The Edge Rule was successfuly updated"
          },
          "404": {
            "description": "The Pull Zone or Edge Rule with the requested ID does not exist."
          },
          "400": {
            "description": "Failed configuring the Edge Rule. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/updatePrivateKeyType": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Change hostname private key type",
        "operationId": "core_PullZonePublic_UpdatePrivateKeyType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The hostname that the private key type will be updated on",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateKeyUpdateModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The key type was changed successfully"
          },
          "400": {
            "description": "Failed to update key type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The hostname was not found in the account"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/loadFreeCertificate": {
      "get": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Load Free Certificate",
        "operationId": "core_PullZonePublic_LoadFreeCertificate",
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "The hostname that the certificate will be loaded for",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "useOnlyHttp01",
            "in": "query",
            "description": "If false and a Bunny DNS Zone exists for the domain, DNS01 validation we be attempted. This has no effect on wildcard domains, as this can only use DNS01",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The certificate was successfuly loaded"
          },
          "400": {
            "description": "Failed configuring the certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The hostname was not found in the account"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/requestExternalDnsCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Request External DNS Certificate",
        "operationId": "core_PullZonePublic_RequestExternalDnsCertificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalDnsCertificateRequest"
              }
            }
          },
          "required": true,
          "x-name": "req",
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The TXT record details for DNS verification",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "400": {
            "description": "The request was invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The hostname was not found in the account"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "429": {
            "description": "Too many certificate requests for this hostname; retry after the Retry-After interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/completeExternalDnsCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Complete External DNS Certificate",
        "operationId": "core_PullZonePublic_CompleteExternalDnsCertificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalDnsCertificateRequest"
              }
            }
          },
          "required": true,
          "x-name": "req",
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The certificate was successfully loaded"
          },
          "400": {
            "description": "The verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The hostname was not found in the account"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "429": {
            "description": "Too many certificate requests for this hostname; retry after the Retry-After interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/requestExternalHttpCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Request External HTTP Certificate",
        "operationId": "core_PullZonePublic_RequestExternalHttpCertificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalHttpCertificateRequest"
              }
            }
          },
          "required": true,
          "x-name": "req",
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The HTTP-01 challenge file details for verification",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "400": {
            "description": "The request was invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The hostname was not found in the account"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "429": {
            "description": "Too many certificate requests for this hostname; retry after the Retry-After interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/completeExternalHttpCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Complete External HTTP Certificate",
        "operationId": "core_PullZonePublic_CompleteExternalHttpCertificate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalHttpCertificateRequest"
              }
            }
          },
          "required": true,
          "x-name": "req",
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The certificate was successfully loaded"
          },
          "400": {
            "description": "The verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The hostname was not found in the account"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "429": {
            "description": "Too many certificate requests for this hostname; retry after the Retry-After interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/core/pullzone/{id}/purgeCache": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Purge Cache",
        "operationId": "core_PullZonePublic_PurgeCachePostByTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Pull Zone that should be cleared",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PullZonePurgeModel"
                  }
                ]
              }
            }
          },
          "x-name": "purgeModel",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The cache was successfuly purged"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/checkavailability": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Check the pull zone availability",
        "operationId": "core_PullZonePublic_CheckAvailability",
        "requestBody": {
          "description": "The zone that will be checked",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "pullZoneRequest",
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the model determinining if the zone is available or not"
          },
          "400": {
            "description": "Failed checking the zone availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/addCertificate": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Custom Certificate",
        "operationId": "core_PullZonePublic_AddCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCertificateRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "requestModel",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The certificate was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed adding the certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/removeCertificate": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Certificate",
        "operationId": "core_PullZonePublic_RemoveCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCertificateRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "requestModel",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The certificate was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed removing certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/addHostname": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Custom Hostname",
        "operationId": "core_PullZonePublic_AddHostname",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHostnameRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "requestModel",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The hostname was successfully added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/removeHostname": {
      "delete": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Custom Hostname",
        "operationId": "core_PullZonePublic_RemoveHostname",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveHostnameRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The hostname was successfully removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/setForceSSL": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Set Force SSL",
        "operationId": "core_PullZonePublic_SetForceSSL",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForceSSLRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "Force SSL was successfully updated"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to configure Force SSL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/resetSecurityKey": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Reset Token Key",
        "operationId": "core_ResetSecurityKeyEndpoint_ResetSecurityKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Custom security key",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPullZoneSecurityKeyModel"
              }
            }
          },
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The key was successfully reset"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to reset the security key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIPullZones",
              "SubuserPullZones",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIPullZones",
              "SubuserPullZones",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/pullzone/{id}/addAllowedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Allowed Referer",
        "operationId": "core_PullZonePublic_AddAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The allowed referer was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to configure allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/removeAllowedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Allowed Referer",
        "operationId": "core_PullZonePublic_RemoveAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The allowed referer was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to remove allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/addBlockedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Blocked Referer",
        "operationId": "core_PullZonePublic_AddBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The blocked referer was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to configure blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/removeBlockedReferrer": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Blocked Referer",
        "operationId": "core_PullZonePublic_RemoveBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The blocked referer was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to remove blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/addBlockedIp": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Add Blocked IP",
        "operationId": "core_PullZonePublic_AddBlockedIp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedIpRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The blocked IP was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to configure blocked IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/pullzone/{id}/removeBlockedIp": {
      "post": {
        "tags": [
          "Pull Zone"
        ],
        "summary": "Remove Blocked IP",
        "operationId": "core_PullZonePublic_RemoveBlockedIp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Pull Zone",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedIpRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The blocked IP was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to remove blocked IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/purge": {
      "post": {
        "tags": [
          "Purge"
        ],
        "summary": "Purge URL",
        "operationId": "core_PurgePublic_IndexPost",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The URL that will be purged from cache.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "async",
            "in": "query",
            "description": "(Optional) Determines if the call should wait for the purge logic to complete",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "exactPath",
            "in": "query",
            "description": "(Optional) When true and the URL ends with '/', purges only the exact path without adding a wildcard suffix. Only applies when the pull zone has IgnoreQueryStrings disabled.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The purge request was successfully processed."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/region": {
      "get": {
        "tags": [
          "Region"
        ],
        "summary": "Region list",
        "operationId": "core_RegionPublic_Index",
        "responses": {
          "200": {
            "description": "Returns the list of region codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionModel"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/storagezone": {
      "get": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "List Storage Zones",
        "operationId": "core_StorageZonePublic_IndexAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to return. When set to 0 (default), all items are returned as a plain array. When set to a value greater than 0, items are returned in a paginated response object.",
            "schema": {
              "maximum": 2147483647.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "maximum": 1000.0,
              "minimum": 5.0,
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 2
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "The list of storage zones on the account. When the page parameter is set to a value greater than 0, the response will be a paginated object with Items, CurrentPage, TotalItems and HasMoreItems properties instead of a plain array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StorageZoneModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Add Storage Zone",
        "operationId": "core_StorageZonePublic_Add",
        "requestBody": {
          "description": "The storage zone that will be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneModelAdd"
              }
            }
          },
          "required": true,
          "x-name": "storageZoneModel",
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The storage zone that was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed adding the Storage Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/storagezone/checkavailability": {
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Check the storage zone availability",
        "operationId": "core_StorageZonePublic_CheckAvailability",
        "requestBody": {
          "description": "The zone that will be checked",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "storageZoneRequest",
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the model determinining if the zone is available or not"
          },
          "400": {
            "description": "Failed checking the zone availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/storagezone/{id}": {
      "get": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Get Storage Zone",
        "operationId": "core_StorageZonePublic_Index",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Storage Zone that should be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The Storage Zone with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Update Storage Zone",
        "operationId": "core_StorageZonePublic_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the storage zone that should be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "The configuration that should be applied to the storage zone",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneSettingsModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The storage zone was successfuly updated"
          },
          "400": {
            "description": "Failed configuring the Storage Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Delete Storage Zone",
        "operationId": "core_StorageZonePublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Storage Zone ID that should be deleted",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "deleteLinkedPullZones",
            "in": "query",
            "description": "Deletes all pull zones linked to this storage zone (default behavior)",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "204": {
            "description": "The Storage Zone was successfully deleted"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/storagezone/{id}/resetPassword": {
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Reset Password",
        "operationId": "core_StorageZonePublic_ResetPassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the storage zone that should have the password reset",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The password has been successfuly changed"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/storagezone/resetReadOnlyPassword": {
      "post": {
        "tags": [
          "Storage Zone"
        ],
        "summary": "Reset Read-Only Password",
        "operationId": "core_StorageZonePublic_ResetReadOnlyPassword",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the storage zone that should have the read-only password reset",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The read-only password has been successfuly changed."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/core/videolibrary/{id}/addAllowedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Allowed Referer",
        "operationId": "core_AddAllowedReferrerEndpoint_AddAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The allowed referer was successfully added"
          },
          "404": {
            "description": "The Video Library with the requested ID was not found"
          },
          "400": {
            "description": "Failed to add allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/addBlockedReferrer": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Blocked Referer",
        "operationId": "core_AddBlockedReferrerEndpoint_AddBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The blocked referer was successfully added"
          },
          "404": {
            "description": "The Video Library with the requested ID was not found"
          },
          "400": {
            "description": "Failed to add blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary": {
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Video Library",
        "operationId": "core_AddVideoLibraryEndpoint_AddVideoLibrary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryCreateModel"
              }
            }
          },
          "required": true,
          "x-name": "videoLibraryModel",
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The added video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "List Video Libraries",
        "operationId": "core_ListVideoLibrariesEndpoint_ListVideoLibraries",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "maximum": 2147483647.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "maximum": 1000.0,
              "minimum": 5.0,
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 2
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Video Libraries on the account. When the page parameter is set to a value greater than 0, the response will be a paginated object with Items, CurrentPage, TotalItems and HasMoreItems properties instead of a plain array.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfVideoLibraryModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}/watermark": {
      "put": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Add Watermark",
        "operationId": "core_AddWatermarkEndpoint_AddWatermark",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The watermark has been successfully uploaded"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "413": {
            "description": "The uploaded file was too large"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Delete Watermark",
        "operationId": "core_DeleteWatermarkEndpoint_DeleteWatermark",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the requested Video Library",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The watermark has been successfully deleted"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/{id}": {
      "delete": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Delete Video Library",
        "operationId": "core_DeleteVideoLibraryEndpoint_DeleteVideoLibrary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Video Library that should be deleted",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The requested video library has been successfully deleted"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Video Library",
        "operationId": "core_GetVideoLibraryEndpoint_GetVideoLibrary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Video Library that will be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The requested video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "403": {
            "description": "The Video Library is not accessible for the authenticated account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Update Video Library",
        "operationId": "core_UpdateVideoLibraryEndpoint_UpdateVideoLibrary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Video Library to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoLibraryUpdateModel"
              }
            }
          },
          "required": true,
          "x-name": "model",
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The updated video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/core/videolibrary/languages": {
      "get": {
        "tags": [
          "Stream Video Library"
        ],
        "summary": "Get Languages",
        "operationId": "core_GetVideoLibraryLanguagesEndpoint_GetVideoLibraryLanguages",
        "responses": {
          "200": {
[...]
